## 1. Convert a Tuple t = (1,2,3,4,5) to a list

In [5]:
tup = (1, 5.0, "Pradeep")
print(tup)
lis = list(tup)
print(lis)

(1, 5.0, 'Pradeep')
[1, 5.0, 'Pradeep']

## 2. WAP to join a list and a tuple:
## L = [1,3,5,7]
##  T = (8,6,4,2)
##  Store the result in a list LS

In [46]:
L = [1,3,5,7]
T = (8,6,4,2)

LS = L.append(T)

print(LasdS)

NameError: name 'LasdS' is not defined

## 3. What is difference between list and tuple.

In [47]:
# The syntax of tuples is shown by parentheses () whereas the literal syntax of lists is shown by square brackets [] .
# Lists has variable length, tuple has fixed length.
# List has mutable nature, tuple has immutable nature.
# List has more functionality than the tuple.

## 4. Print the list in reverse order
## l = [‘a’, ‘d’, ‘c’, ‘A’, ‘C’]

In [58]:
l = ['a', 'd', 'c', 'A', 'C'] 
lis1 = []
for i in reversed(l) :
    lis1.append(i)
print(lis1)

['C', 'A', 'c', 'd', 'a']

## 5. Print Elements at Odd indexes from a list (Do not use loop)
## l = [10,11,20, 21,30, 31, 40, 41]

In [62]:
l = [10,11,20, 21,30, 31, 40, 41] 

for i in l:
    if (i+1)%2 == 0 :
        print(i)

11
21
31
41

## 6. How many ways you can copy a list.

In [63]:
# using slicing
# using list()
# using copy()

## 7. Predict output
## n_list = ["Happy", [2,0,1,5]]
## print(n_list[0][1])
## print(n_list[1][3])

In [ ]:
# a
# 5

## Predict output
## odd = [2, 4, 6, 8]
## odd[0] = 1
## print(odd)
## odd[1:4] = [3, 5, 7]
## print(odd)

In [68]:
# [1, 4, 6, 8,]
# [1, 3, 5, 7]

## 9. Predict output 
## odd = [1, 3, 5]
## odd.append([7,9])
## print(odd)
## odd.extend([11, 13])
## print(odd)

In [70]:
# [1, 3, 5, [7, 9]]
# [1, 3, 5, [7, 9], 11, 13]

In [73]:
# 10. Predict output

x= 1,2,3; print(type(x))
x = (1); print(type(x))
x = 1; print(type(x))
x = 1,; print(type(x))

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>

## 11. Try to represent a matrix with following data in python:
## 1 2 3
## 4 5 6
## 7 8 9

In [95]:
x = 0
for i in range(3) :
    for j in range(3) :
        print(x+1, end = " ")
        x += 1
        
    
    print()

1 2 3
4 5 6
7 8 9

## 12. Predict output 
## t = tuple("string")
## print(t)

In [99]:
# TypeError: 'tuple' object is not callable

## 14. Write a program to input a string and print if it is palindrome or not.

In [102]:
s = input("Enter a string :")

if s[::] == s[::-1] :
    print(True)

Enter a string :malayalam
True

## 15. Use the range method and create a tuple containing the following values:
## (20, 15, 10, 5)

In [119]:
lis = []
for i in range(20, 0, -5) :
    lis.append(i)

# need to create tuple instead of list.

[20, 15, 10, 5]

## 16. WAP to convert string to list of characters.

In [125]:
s= "Pradeep"
s = [char for char in s ]
t = list(s)
print(s)
print(t)

['P', 'r', 'a', 'd', 'e', 'e', 'p']
['P', 'r', 'a', 'd', 'e', 'e', 'p']

## 17. What is the return type of: 

## print(type('1 2'.split()))
## print(type([1, 3, 2].sort()))
## print(type('abc'.upper()))
## print(type(1 in [1, 2]))

In [ ]:
# <class 'list'>
# <class 'NoneType'>
# <class 'str'>
# <class 'bool'>