In [1]:
import random

In [1]:
def take_input(task):
    print("Enter ", task )
    x = input()
    print("echo >> ",x)
    return x

# WAP to print first n natural numbers (input n from user)

In [6]:
num = int(take_input("num"))
for num in range(1, num+1):
    print(num)

Enter  num
echo >>  20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# WAP to find sum of first n natural numbers

In [7]:
num = int(take_input("num"))
sum = 0
for num in range(1, num+1):
    sum += num

print(sum)

Enter  num
echo >>  10
55

# WAP to print first n natural numbers in reverse order.

In [14]:
num = int(take_input("num"))
for nu in range(num,0, -1):
    print(nu)

Enter  num
echo >>  10
10
9
8
7
6
5
4
3
2
1

# WAP to input a number and print its factorial.

In [28]:
def fact(num):
    fact = 1
    for n in range(num, 0, -1):
        fact = fact * n
    
    return fact

In [29]:
num = int(take_input("number"))
print(f"factorial is {fact(num)}")

Enter  number
echo >>  5
factorial is 120

# WAP to print Fibonacci sequence till n

In [23]:
first = 0
second = 1
num = int(take_input("num"))
for n in range(0, num):
    print(first)
    sum = first +second
    first = second
    second = sum

Enter  num
echo >>  10
0
1
1
2
3
5
8
13
21
34

# WAP to print all digits of a number input from user

In [26]:
num = int(take_input("number"))
for n in range(0, len(str(num))):
    print(str(num)[n])

Enter  number
echo >>  5020
5
0
2
0

In [ ]:
# WAP to find sum of all digits of a number

In [27]:
num = int(take_input("number"))
sum = 0
for n in range(0, len(str(num))):
    sum += int(str(num)[n])

print(sum)

Enter  number
echo >>  5020
7

# WAP to find sum of following series given n as input from user 
# 1 + 2! + 3! + 4! + 5! + ....n! Where n! denotes the factorial of number n.

In [34]:
n = int(take_input("numer"))
sum = 0
for num in range(1, n+1):
    sum += fact(num)

print(sum)

Enter  numer
echo >>  5
153

In [ ]:
# WAP to input base and exponent and print result without using inbuilt function pow(use for or while loop)

In [37]:
base = int(take_input("base"))
exponent = int(take_input("exponent"))

Enter  base
echo >>  2
Enter  exponent
echo >>  9

In [38]:
sum = 1
for n in range(1, exponent+1):
    sum = sum * base
print(sum)

512

# Print following patterns

In [78]:
def pat1(str1):
    init = str1
    for n in range(1, 6):
        print(init * n)

In [79]:
pat1('*')

*
**
***
****
*****

In [ ]:
def pat

In [46]:
init = '*'
for n in range(5, 0, -1):
    print(init * n)

*****
****
***
**
*

In [96]:
num = 5
for n in range(1, 6):
    print('')
    print(chr(32) * (num - n), '*' * n)

     *

    **

   ***

  ****

 *****

In [117]:
num = 7
for n in range(1, 5):
    print('')
    print(chr(32) * (int(num/2)),' * ' * n, chr(32) * (int(num/2)))
    num = num-2

     *

    *  *

   *  *  *

  *  *  *  *

# print numbers patterns

In [2]:
for i in range(1, 6):
    print(str(i) * i)

1
22
333
4444
55555

In [4]:
col = ''
for i in range(1, 6):
    col = col + str(i)
    print(col)

1
12
123
1234
12345

In [8]:
max = 6
for i in range(5, 0, -1):
    print(str(i) * (max-i))

5
44
333
2222
11111

In [10]:
num = 5
for n in range(1, 6):
    print('')
    print(chr(32) * (num - n), str(n) * n)

     1

    22

   333

  4444

 55555

# Print char pattern

In [12]:
col = ''
for i in range(65, 71):
    col = col + chr(i)
    print(col)

A
AB
ABC
ABCD
ABCDE
ABCDEF

In [29]:
def get_se(first, second):
    return ''.join([chr(i) for i in range(first, first+second)])

In [30]:
low = 65
for i in range(1,6):
    print(''.join(get_se(low, i)))
    low = low + i

A
BC
DEF
GHIJ
KLMNO

In [33]:
alpha = 65
for i in range(1, 6):
    print(chr(alpha) * i)
    alpha +=1

A
BB
CCC
DDDD
EEEEE

In [38]:
def addon(pat):
    pat = pat[::-1]
    return pat[1:]

In [46]:
num = 8
alpha = 65
col = ''
for n in range(1, 6):
    print('')    
    col = col + chr(alpha)
    print(chr(32) * (int(num/2)),col + addon(col), chr(32) * (int(num/2)))
    num = num-2
    alpha +=1

     A

    ABA

   ABCBA

  ABCDCBA

 ABCDEDCBA