## Q1

In [2]:
n = float (input ("Please enter the temperature in Fahrenhite :"))
print ("Temperature in Celsius is :", (n-32)*(5/9) )

Please enter the temperature in Fahrenhite :100
Temperature in Celsius is : 37.77777777777778

## Q2

In [5]:
n = float (input ("Please enter the number :"))
print ("Square of number is :", n*n )
print ("Cube of number  is :",n*n*n)

Please enter the number :2.5
Square of number is : 6.25
Cube of number  is : 15.625

## Q3

In [6]:
n = float (input ("Please enter the first number :"))
m = float (input ("Please enter the second number :"))
print ("Sum of Squares is :", n*n + m*m )

Please enter the first number :8
Please enter the second number :6
Sum of Squares is : 100.0

## Q4

In [7]:
M = float (input ("Please enter the first number :"))
N = float (input ("Please enter the second number :"))
print ("M to power N is :", M**N )
print ("M to power N is :", pow (M,N) )

Please enter the first number :2
Please enter the second number :6
M to power N is : 64.0
M to power N is : 64.0

## Q5

In [10]:
# Simple Interest Calculator
P = float (input ("Please enter the Principal Amount :"))
R = float (input ("Please enter the Rate without % symbol:"))
T = float (input ("Please enter time in Years :"))
print ("Annual Simple Interest is :", P*R*T/100 )

Please enter the Principal Amount :10000
Please enter the Rate without % symbol:2
Please enter time in Years :3
Annual Simple Interest is : 600.0

## Q6

In [11]:
# Compound Interest Calculator
P = float (input ("Please enter the Principal Amount :"))
R = float (input ("Please enter the Rate without % symbol:"))
T = float (input ("Please enter time in Years :"))
print ("Compound Interest is :", P*((1+R/100)**T)-P )
print ("Compounded Amount is :", P*((1+R/100)**T) )

Please enter the Principal Amount :10000
Please enter the Rate without % symbol:10
Please enter time in Years :2
Compound Interest is : 2100.000000000002
Compounded Amount is : 12100.000000000002

## Q7

In [17]:
# Sum of all natural numbers till N
sum = 0
n = int (input ("Please enter the number :"))
for i in range (n+1):
    sum += i
print ("Sum of All natural numbers till {} is {}".format (n,sum))

Please enter the number :10
Sum of All natural numbers till 10 is 55

## Q8

In [22]:
#Swap with 3rd variable
M = int (input ("Please enter the first number :"))
N = int (input ("Please enter the second number :"))
T = M 
M=N 
N=T
print ("First No after Swap is :", M)
print ("Second No after Swap is :", N)

Please enter the first number :34
Please enter the second number :56
First No after Swap is : 56
Second No after Swap is : 34

In [23]:
#Swap without 3rd variable
M = int (input ("Please enter the first number :"))
N = int (input ("Please enter the second number :"))
M = M+N
N = M-N
M = M-N
print ("First No after Swap is :", M)
print ("Second No after Swap is :", N)

Please enter the first number :34
Please enter the second number :56
First No after Swap is : 56
Second No after Swap is : 34

In [24]:
#Swap Python way
M = int (input ("Please enter the first number :"))
N = int (input ("Please enter the second number :"))
M,N = N,M
print ("First No after Swap is :", M)
print ("Second No after Swap is :", N)

Please enter the first number :34
Please enter the second number :56
First No after Swap is : 56
Second No after Swap is : 34

## Q9

In [34]:
import string
lst = list(string.whitespace)
print ( "ASCI Value of ALL White-sapce characters is below: \n")
for i in lst:
    print (ord(i), end = " ")

ASCI Value of ALL White-sapce characters is below:

32 9 10 13 11 12

## Q10

In [48]:
M = input ("Please enter the character :")
M
print ("ASCI value of character is :",ord(M))

Please enter the character :@
ASCI value of character is : 64

## Q11

In [9]:
import math as mth
Area = float (input ("Please enter area of circle :"))
r = mth.sqrt((Area/mth.pi) )
print ("Radius of circle is :", r )
print ("Circumference of circle is :", 2*mth.pi*r)

Please enter area of circle :125.6
Radius of circle is : 6.322951977097731
Circumference of circle is : 39.72827896050258

## Q12

In [16]:
lst = eval (input ("Please enter marks out of 100 seperated by comma :"))
print ("Percentage of marks obtained is : ", sum(lst) / (len(lst)) )

Please enter marks out of 100 seperated by comma :97,98,95,92,86
Percentage of marks obtained is :  93.6